/*公共样式*************************** */
body{
    color: #333;
}
.right{
    float: right;
}
.left{
    float: left;
}
.backTop{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 150px;
    top: 600px;
    display: none;
    background: url('./../img/css-img/back.png') no-repeat center,#e0dfdf;
}
/*清除ul样式*/
ul{
    list-style: none;
}
/*清除a样式*************************** */
a{
   text-decoration:none;
    color:#333;
    outline:none;

}
/*酷玩内容部分标题h1*************************** */
.wrap_top h1{

    text-align:center;
    padding:34px 0 30px;
    font-size:40px;
    font-weight: normal;
}
/*酷玩内容部分导航*************************** */
.play_nav a {
    color:  #a3a3a3;
    display:inline-block;
    padding-bottom:12px;
    width:165px;
    font-size:18px;
}
.play_nav{
    text-align:center;
    line-height:1.7;
    font-size:0;
}
.play_nav .on
{
    color:#fe5341;
}
.play_nav a:hover{
    color:#fe5341;
}

.play_nav a.on{
    border-bottom:4px #fe5431 solid;
    padding-bottom:8px;
}

/*酷玩部分内容*************************** */
.play_show img{
    width: 220px;
    height: 130px;
    border-radius: 6px 6px 0 0;
}
.play_show{
    overflow: hidden;
    margin: 0 auto;
    width: 1036px;
}
.play_show li{
    font-size: 0px;
    float: left;
    width: 220px;
    height: 230px;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    background: white;
    margin: 25px 18px 0 18px;
}
.play_price{
    font-size: 14px;
    color: #fe5341;
}
.play_title{
    display: block;
    margin:10px 0px 5px 10px;
    font-size: 14px;
}
.play_detail{
    margin:5px 0px 10px 10px;
    display: block;
    font-size: 12px;
    color: #a3a3a3;
}
.price_box{
    margin:16px 0px 18px 10px;
}

.play_icon{
    float: right;
    margin-right: 10px;
}
.play_icon span{
    display: inline-block;
    vertical-align: middle;
    padding-left: 14px;
    margin-left: 3px;
    font-size: 11px;
    color: #a3a3a3;
}
.playMore{
    margin-top: 40px;
    color: #a3a3a3;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.play_more{
    background: url('img/more.png') no-repeat left center;
    color: #fe5341;
    padding-left: 24px;
}


/*酷玩品类非公有部分样式*******************************************************/
.content .category_lists:nth-child(1){
    padding:  25px 0 0 0;
}
.content .category_lists:last-child{
    padding:  25px 0 40px 0;
}
.category_lists{
    padding:  35px 0 0 0;
}
.category_lis{
    background: white;
    width: 998px;
    border: 1px solid #ebecec;
    margin:0 auto;
    border-radius: 6px;
    overflow: hidden;
}
.category_lis h4{
    font-weight: normal;
    position: relative;
    font-size:16px;
    line-height:25px;
    padding:19px 0 19px 30px;
}
.category_lis h4::before{
    content: '';
    position: absolute;
    left: 0;
    top: 19px;
    display: block;
    width: 6px;
    height: 25px;
    background: #fe5341;

}
.cat_list1{
    padding: 0 13px 18px;
    overflow: hidden;
    border-bottom: 1px dashed #ebecec;
    cursor: pointer;
}
.category_lists .category_lis .cat_lis{
    margin-top: 17px;
    text-align: center;
    float: left;
    width: 150px;
    height: 130px;
}
.info{
    padding-top: 12px;
    width: 150px;
    font-size: 13px;
    color: #a3a3a3;
    float: left;
    text-align: center;
}
.cat_list2{
    padding: 0 13px 35px;
    overflow: hidden;
    cursor: pointer;
}
.category_lis li :hover
{
    color: #fe5341;
}
/*酷玩品类部分的动画效果*/
@keyframes rotate {
    from{
        transform: rotate(0deg) scale(1);

    }
    to{
        transform: rotateZ(360deg) scale(1.1);
    }
}
.category_lis img:hover {
    animation: rotate 3s ease 0s infinite;
}
